/* Menus Container */
.Menus {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 90px auto;
}

/* Menu Container with Grid Layout */
.MenuItems {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
   gap: 20px; 
   margin-top: 20px;
   width: 100%;
   margin-bottom: 20px;
}

/* Individual Menu Item */
.menu {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu img {
    width: 100%;
    max-width: 200px;
    height: 200px;
    border-radius: 8px;
}

.menu p {
    padding: 5px 0;
    font-size: 16px;
    color: #333;
    text-align: center;
}

.menu button {
    padding: 8px 15px;
    margin: 5px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.menu button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Add Menu Section */
.AddMenu {
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.AddMenu h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
}

.AddMenu input[type="text"],
.AddMenu input[type="number"],
.AddMenu input[type="file"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.AddMenu button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.AddMenu button:hover {
    background-color: #218838;
}

/* Responsive Design */
@media (max-width: 768px) {
    .Menu {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust grid for tablets */
    }

    .MenuItem {
        width: 100%;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    .AddMenu input[type="text"],
    .AddMenu input[type="number"],
    .AddMenu input[type="file"] {
        width: 100%;
    }

    .Menu {
        grid-template-columns: 1fr; /* Stack items in a single column on small screens */
    }

    .MenuItem {
        width: 100%;
    }
}
